@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@-moz-keyframes scaleIn {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@-webkit-keyframes scaleIn {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@-o-keyframes scaleIn {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
