$small-padding: 5px;
$mid-padding: 10px;
$big-padding: 20px;
$very-big-padding: 40px;

$very-small-font: 12px;
$small-font: 15px;
$mid-font: 25px;
$big-font: 35px;

$small-screen: 640px;
$mid-screen: 960px;
$large-screen: 1280px;
