<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <i class="fas fa-file-download"></i>
      Exporter mon Markdown
    </div>

    <div class="modal-content">
      Vous pouver exporter votre contenu Markdown au format HTML ou WikiMedia.
    </div>

    <div class="modal-buttons">
      <button class="modal-button" (click)="onExportHtml()">HTML</button>
      <button class="modal-button" (click)="onExportWiki()">Wikimedia</button>
      <button class="modal-button transparent" (click)="onClose()">Annuler</button>
    </div>
  </div>
</div>
