@import "./style/variables/variables";

.main-content {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;

  & > * {
    flex: 1;
  }
}

@media screen and (max-width: $mid-screen - 1) {
  .main-content {
    flex-direction: column;

    & > * {
      min-height: 50vh;
    }
  }
}
