@import "../../../style/variables/variables";

.text-editor-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .center-buttons {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: $mid-padding;
  }

  app-editor-button {
    margin: $small-padding;
  }
}
