@import "variables/variables";

body, html {
  height: 100%;
  margin: 0;
  font-size: $small-font;
  font-family: 'Cabin', sans-serif;

  * {
    box-sizing: border-box;
  }
}

h1 {
  font-size: $big-font;
}

h2 {
  font-size: $mid-font;
}

button {
  cursor: pointer;
}
